$rosa-soft: #FFF1F2;
$rosa-main: #FB7185;
$rosa-deep: #BE123C;
$blanco: #FFFFFF;
$negro: #111827;
$negro-soft: #374151;
$gris: #6B7280;
$gris-deep: #1F2937;
$bg: #FFFFFF;
$font-family: 'Josefin Sans', sans-serif;

$radius: 30px;
$shadow: 0 6px 16px rgba(0, 0, 0, .08);