$verde: #4caf50;
$verde-boutique: #8AB837;
$naranja-claro: #FFE4B5;
$naranja: #FF6B00;
$naranja-accent: #FF6B00;
$gris: #555;
$gris-deep: #3A3A3A;
$bg: #FAFAF5;
$font-family: 'Josefin Sans', sans-serif;

$radius: 30px;
$shadow: 0 6px 16px rgba(0, 0, 0, .08);